@import '../../../../style_utils/mixins.scss';
@import '../../../../style_utils/vars.scss';


.paginationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.page {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid hsla(0, 0%, 52%, 0.3);
}

.pageLink{
    font-weight: 600;
    color: hsla(209, 26%, 17%, 0.903);
}

.activePage{
    background-color: hsla(209, 26%, 17%, 0.666);

    & .pageLink {
        color: var(--dark-mode-text-color);

    }
}

.breakLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    color:hsla(209, 26%, 17%, 0.666)  
}

.previousPage,
.nextPage {
    display: flex;
    justify-content: center;
    align-items: center;

    color: hsla(209, 26%, 17%, 0.666);
}

.disabledPage{
    opacity: 0.4;
}